Source: fairtris
Maintainer: Chronos <robie@centrum.cz>
Section: games
Priority: optional
Standards-Version: 3.0.0.2
#Build-Depends: fpc, lazarus, lcl, lcl-utils, debhelper (>= 8)

Package: fairtris
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: A Tetris® video game clone.
HomePage: https://github.com/furious-programming/Fairtris
